{% extends "blog/base.html" %}
{% block content %}
    <!--<div class='page-heading'>
        <h1>Welcome to Snerd <b>Blog</b></h1>
    </div>-->
    {% for post in posts %}
        <article class="media content-section">
            <div class="media-body">
                <div class="article-metadata">
                    <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}">
                    <a class="mr-2" href="{% url 'user-posts' post.author.username %}">{{ post.author }}</a>
                    <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
                </div>
                <h2><a class="article-title" href="{% url 'post-details' post.id %}">{{ post.title }}</a></h2>
                <p class="article-content">{{ post.content }}</p>
            </div>
            <small class='text-muted'>
                <a class="comment-link" href="{% url 'post-details' post.id %}">Comments({{ post.comments.count }})</a>
            </small>
        </article>
    {% endfor %}
{% endblock content %}
{% block sidebar %}
    <div class="content-section">
        <h3>What's new?</h3>
        <ul class="list-group">
            <li class="list-group-item list-group-item-light"><a href="{% url 'latest-posts' %}">Top 10 latest posts</a></li>
            <li class="list-group-item list-group-item-light"><a href="{% url 'top-comments' %}">Top 10 commented posts</a></li>
            <li class="list-group-item list-group-item-light">Liked posts</li>
        </ul>
        </p>
    </div>
{% endblock %}